
* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 56, 61);
  color: rgb(253, 81, 81);
  font-family: 'Courier New', Courier, monospace;
  height: 90px;
}

.text-result {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  color: rgb(253, 81, 81);
  padding-top: 30px;
}

.user-choices {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  padding-top: 15px;
  gap: 50px;
}

.scores {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
}


.winner {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  padding-top: 25px;
  /* height is just to fit my monitor, wont adjust properly on other screens */
  height: 740px;
}